<% layout('common-layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="/css/home.css" />
<div class="mt-5">
  <h1 class="text-light"><%= pageTitle %></h1>
  <p class="lead m-2 text-start text-light">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, aliquam. Accusamus at voluptates voluptatibus iste magni reprehenderit voluptate
    ducimus veritatis? Distinctio alias consequuntur soluta rem architecto delectus reprehenderit animi dignissimos! Iste ducimus dignissimos facilis eum culpa
    amet tempore? Laborum atque vero veritatis fugiat possimus cum facilis numquam quibusdam. Minima a quasi repellat exercitationem maxime nam, dolor quibusdam
    ipsa quia! Iure.
  </p>
  <div class="text-center">
    <a href="/campgrounds/">
      <button class="btn btn-info-opacity-half"> View Campgrounds </button>
    </a>
    <!-- <button class="btn btn-dark"><a href="/products" class="text-light">Products</a><br /></button> -->
    <!-- <button class="btn btn-success"><a href="/billings" class="text-light">Billing</a><br /></button> -->
  </div>
</div>
