<% layout('common-layouts/boilerplate.ejs') %>
<form>
  <button class="btn btn-primary mx-1 my-3"><a href="/" class="text-light">Back to Home Page</a><br /></button>
</form>
<div class="div-body d-flex flex-column justify-content-center align-items-center">
  <h1 class="display-1 text-center m-0 p-0">404</h1>
  <p class="display-6 text-center m-0 p-0"><%= error404.message %></p>
  <p class="display-6 text-center m-0 p-0"><%= err%></p>
</div>
